/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Header
3.0 Article
4.0 Content
5.0 Navigation
	5.1 Button
	5.2 Menus
6.0 Footer
7.0 Alignments
8.0 Clearings
9.0 Widgets
10.0 Content
	10.1 Posts and pages
	10.2 Asides
	10.3 Comments
11.0 Infinite scroll
12.0 Media
	12.1 Captions
	12.2 Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
body {
  background: #f3f3f3; }

/*--------------------------------------------------------------
2.0 Header
--------------------------------------------------------------*/
.site-header {
  text-align: center; }
  .site-header .site-branding {
    margin-top: 20px; }

/*--------------------------------------------------------------
3.0 Article
--------------------------------------------------------------*/
.article-bottom-blur, .home article:after, .archive article:after {
  position: absolute;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.73) 22%, rgba(255, 255, 255, 0.73) 23%, white 91%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(22%, rgba(255, 255, 255, 0.73)), color-stop(23%, rgba(255, 255, 255, 0.73)), color-stop(91%, white));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.73) 22%, rgba(255, 255, 255, 0.73) 23%, white 91%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.73) 22%, rgba(255, 255, 255, 0.73) 23%, white 91%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.73) 22%, rgba(255, 255, 255, 0.73) 23%, white 91%);
  background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.73) 22%, rgba(255, 255, 255, 0.73) 23%, white 91%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  content: ''; }

.home article.card {
  overflow: hidden; }

.single article.card {
  height: 100%; }

.page article.card {
  height: 100%; }

article {
  padding: 1em; }
  article.card {
    width: 100%;
    overflow: hidden; }

/*--------------------------------------------------------------
4.0 Content
--------------------------------------------------------------*/
.site-main {
  max-width: 640px;
  margin: 1em auto; }

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Button
--------------------------------------------------------------*/
/*menu button*/
#hamburger {
  display: block;
  width: 40px;
  height: 36px;
  margin: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2; }

#hamburger:before,
#hamburger:after,
#hamburger span {
  background: royalblue;
  content: '';
  display: block;
  width: 30px;
  height: 6px;
  position: absolute;
  left: 5px; }

#hamburger:before {
  top: 5px; }

#hamburger:after {
  bottom: 5px; }

#hamburger span {
  top: 50%;
  margin-top: -3px; }

/* Hamburger animation */
#hamburger:before,
#hamburger:after,
#hamburger span {
  transition: none 0.5s ease 0.5s;
  transition-property: transform, top, bottom, left, opacity; }

html.mm-opening #hamburger span {
  left: -50px;
  opacity: 0; }

html.mm-opening #hamburger:before {
  transform: rotate(45deg);
  top: 15px; }

html.mm-opening #hamburger:after {
  transform: rotate(-45deg);
  bottom: 15px; }

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.mm-list li:before {
  position: absolute;
  top: 1em;
  left: 10px; }

.mm-list > li > a, .mm-list > li > span {
  padding-left: 30px; }

/*--------------------------------------------------------------
6.0 Footer
--------------------------------------------------------------*/
.site-info {
  text-align: center; }
