/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
	1.1 font
	1.2 boilerplate
2.0 Header
3.0 Article
4.0 Login
5.0 Navigation
	5.1 Button
	5.2 Menus
6.0 Footer
7.0 Paper Effect
8.0 Comments
9.0 Userpro
	9.1 Bookmark
	9.2 Userpro profile
10.0 Post Submit
11.0 Element
12.0 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.1 Font
--------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,800|Lora:400italic|Playfair+Display:700|Sorts+Mill+Goudy|Open+Sans+Condensed:300|Lato);

/*--------------------------------------------------------------
1.2 Boilerplate
--------------------------------------------------------------*/

a:hover {
	color: midnightblue;
}

a,a:visited {
	text-decoration: none;
	color: gray;
}
/*--------------------------------------------------------------
2.0 Header
--------------------------------------------------------------*/

.site-branding {
	max-width: 500px;
	margin-left: 10px;
	float: left;
	.site-title {
		a {
			color: black;
			font-family: 'sorts mill goudy', Arial, sans-serif;
			font-size: 40px;
			@media screen and (max-width: 320px) {
				font-size: 32px
			}
		}
	}
}
.site-description {
	float: right;
	clear: none;
	font-size: 18px;
	@media screen and (max-width: 320px) {
		font-size: 14px;
	}
	margin: -16px 5px 0 0;
}


.header-wrapper {
	max-width: 800px;
	margin: 0px auto 20px;
	padding: 10px 10px;
	&:after {
		content: '.';
		visibility: hidden;
		clear: both;
		display: block;
		height: 0px;
	}	
}
.site-header-single .header-wrapper {
	max-width: none;
	background: rgba(255, 255, 255, 0.5);
	.header-sub-wrapper {
		max-width: 800px;
		margin: 0 auto;
	}
}
.header-menu-area {
	position: relative;
	min-width: 136px;
	float: right;
	margin: 10px 0 0 0;
	.header-menu {
		font-size: 32px;
	}
	.header-navigation {
		float: right;
		color: rgb(98, 98, 98);
		margin: 0 10px 0;
	}
	.login-user-avatar,.logout-user-avatar {
		position: relative;
		display: block;
		width: 32px;
		margin: 0 auto;
	}
	.login-user-avatar {
		img.avatar {
			border-radius: 50%;
			height: 32px;
			width: 32px;
		}
		.avatar-heart {
			position: absolute;
			font-size: 15px;
			color: rgb(255, 0, 45);
			top: 0;
			left: 22px;
		}
	}
	.logout-user-avatar {
		.logout-avatar-icon {
			font-size: 32px;
			margin-left: 6px;
		}
		.avatar-heart {
			position: absolute;
			font-size: 15px;
			color: black;
			top: 0;
			left: 22px;
		}
	}
}
.site-header-single {
	.entry-meta {
		span, time {
			color:white;
		}
	}
}
/*--------------------------------------------------------------
3.0 Article
--------------------------------------------------------------*/
.article-bottom-blur {
	position: absolute;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.73) 22%, rgba(255,255,255,0.73) 23%, rgba(255,255,255,1) 91%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 0)), color-stop(22%,rgba(255, 255, 255, 0.73)), color-stop(23%,rgba(255, 255, 255, 0.73)), color-stop(91%,#FFF));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.73) 22%,rgba(255, 255, 255, 0.73) 23%,#FFF 91%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.73) 22%,rgba(255,255,255,0.73) 23%,rgba(255,255,255,1) 91%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.73) 22%,rgba(255,255,255,0.73) 23%,rgba(255,255,255,1) 91%);
	background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.73) 22%,rgba(255,255,255,0.73) 23%,rgba(255,255,255,1) 91%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
	height: 50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	content: '';
}
.home,.archive,.search {
	article {
		section{
			overflow: hidden;
			width: 90%;
			margin: 0 auto;
		}
	}
}
article, .after-trigger-title {
	.entry-title {
		font-family: 'lato', Arial, sans-serif;
		font-size: 64px;
		text-align: center;
		line-height: 1;

		@media screen and (max-width: 768px) {
			font-size: 50px;
		}
		@media screen and (max-width: 500px) {
			font-size: 40px;
		}
		@media screen and (max-width: 320px) {
			font-size: 30px;
		}
		a {
			color: rgb(37, 37, 37);
		}
	}
}
.single .entry-content a.fluidbox:not(.fluidbox-opened) {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
}
.single .entry-content a.fluidbox.fluidbox-opened {
	cursor: pointer;
	cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
}
.wp-caption .wp-caption-text {
	margin: 0;
	font-size: 14px;
}
.site-main {
	margin: 0.3em;
}
.site-content article,.site-content-single article {
	max-width: 768px;
	margin:0 auto;
}
.entry-header .entry-meta, .entry-meta {
	font-size: 14px;
	text-align: center;
	margin-top: 35px;
	.author img {
		border-radius: 50%;
		vertical-align: middle;
		height: 32px;
	}
}
.page-content, .entry-content, .entry-summary {
	// content none 404
	margin: 1.5em 1.5em;
	@media screen and (max-width: 320px) {
		margin: 1.5em 0.2em;
	}
}
.page-content, .entry-content {
	h1 {
		font-size:1.8em;
		font-weight: bold;
	}
	h2 {
		font-size: 1.5em;
		font-weight: bold;		
	}
	h3 {
		font-size: 1.3em;
		font-weight: bold;		
	}
	h4 {
		font-size: 1.0em;
		font-weight: bold;		
	}
	h5 {
		font-size: 0.8em;
		font-weight: bold;		
	}
	h6 {
		font-size: 0.5em;
		font-weight: bold;		
	}
}
.content-area .entry-footer span {
	margin-right: 15px;
}
.byline {
	display: inline;
}
.page-header {
	text-align: center;
	margin-bottom: 1em;
	h1 {
		text-decoration: underline;
	}
}
/*--------------------------------------------------------------
4.0 Login
--------------------------------------------------------------*/
.new-fb-btn a,.new-twitter-btn a, {
	color:wheat;
}
/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Button
--------------------------------------------------------------*/
.mm-close-menu {
	display: inline-block;
	z-index: 2;
	position: relative;
	float: right;
	top: 5px;
	right: 5px;
	i {
		font-size: 30px;
		color: rgb(136, 136, 136);
		text-decoration: none;
	}
}
/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.single .mm-page {
	height: 100%;
}
.home, .archive, .search, .page {
	.mm-page {
		overflow: hidden !important;
	}
}
.mm-list li:before {
	position: absolute;
	top: 1em;
	left: 10px;
}
.mm-list > li > a, .mm-list > li > span {
	padding-left: 30px;
	font-size: 20px;
}
em.mm-counter {
	right: 50px;
}
.smg-navigation {
	display: none;
}
/*--------------------------------------------------------------
6.0 Footer
--------------------------------------------------------------*/
footer {
	height: auto;
	margin: 40px auto 20px;
	font-size: 18px;
	max-width: 800px;
}
.site-info {
	text-align: center;
	font-size: 12px;
}
nav.navigation.paging-navigation,nav.navigation.post-navigation,div.comments-area {
	max-width: 800px;
	margin: 2em auto 1em;
}
/*--------------------------------------------------------------
7.0 Paper Effect
--------------------------------------------------------------*/
.paper_base {
    font-family: Raleway, Arial, sans-serif;
    height: 100%;
    margin: 0 auto;
    position: relative;
    // border: 1px solid #d2d2d2;
 
    background: #fff;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
 
    -webkit-background-size: 100% 20px;
    -moz-background-size: 100% 20px;
    -ms-background-size: 100% 20px;
    -o-background-size: 100% 20px;
    background-size: 100% 20px;
 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
 
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

.home, .archive, .page, .search {
	div.site.paper {
		min-height: 100vh;
		padding: 0;
		@extend .paper_base;
	}
}
.home, .archive, .page, .search {
	div.site.paper {
		padding: 0px;
		&:before {
			content: '';
			position: absolute;
			width: 4px;
			height: 100%;
			top: 0;
			left: 28px;
			bottom: 0;
			border: 1px solid;
			border-color: transparent #efe4e4;
			@media screen and (max-width: 900px) {
				display: none;
			}
		}
	}
}
// .home .site-branding:before {    
//     content: '';
//     display: block;
//     width: 20px;
//     height: 20px;
//     border-radius: 10px;
//     position: absolute;
//     background: rgba(255,255,255,1);
//     top: 1.1em;
//     left: 6px;
//     z-index: 10;
//     -webkit-box-shadow: 
//         inset 2px 2px 5px rgba(125,125,125,1);
//     -moz-box-shadow: 
//         inset 2px 2px 5px rgba(125,125,125,1);
//     box-shadow: 
//         inset 2px 2px 5px rgba(125,125,125,1);
//     @media screen and (max-width: 400px) {
//     	display: none;
//     }
// }
/*--------------------------------------------------------------
8.0 Comments
--------------------------------------------------------------*/
.comments-area {
	ol {
		margin:30px 0 0;
	}
}
.comment-header {
	padding: 5px 0 0;
	font-size: 18px;
}
.comments-link {
	margin-left: 20px;
	margin: 50px 10px;
}
.comment-list {
	list-style: none;
	.children {
		list-style: none;
		margin: 0 0 0 1.5em;
	}
}
.comment-body:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.comment-meta {
	margin: 0 0 1.5em;
	font-weight: 400;
	font-style: normal;
	a {
		color: rgba(85, 85, 85, 0.75);
	}
}
.comment-author img {
	float: left;
	border: 1px solid rgb(204, 204, 204);
	padding: 2px;
	border-radius: 50%;
	margin: 0 1.5rem 1.5rem 0;
	height: 60px;
}
.comment-content {
	clear: both;
	padding: 1.5em 1.5em 0;
	border: 1px solid rgb(216, 216, 216);
	background: rgb(249, 249, 249);
}
.comment-reply-link {
	background-color: rgb(204, 51, 0);
	float: right;
	margin-right: .75em;
	color: white;
	padding: 8px 16px;
}
.comment-respond {
	margin-top: 50px;
	.logged-in-as {
		margin-bottom: 0;
		float: right;
	}
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"] {
	@media screen and (max-width: 320px) {
			width: 98%;
		}	
}
.comment-form {
	.comment-form-comment {
		margin-bottom: 10px;
	}
	.form-allowed-tags {
		font-size: 10px;
		code {
			font-size: 10px;
		}
	}
}
.comment-subscription-form {
	margin-bottom: 0px;
	font-size: 16px;
}
.must-log-in {
	text-align: center;
}
/*--------------------------------------------------------------
9.0 Userpro
--------------------------------------------------------------*/
/*--------------------------------------------------------------
9.1 Bookmarks
--------------------------------------------------------------*/
.smg_bookmark {
	margin:0 auto;
	max-width: 600px;
}
.uci-content {
	overflow: hidden;
}
.userpro-coll-list {
	width: 30% !important;
}
.userpro-coll-body {
	width: 70% !important;
}
.userpro-bm {
	margin: 5px 0 !important;
}
.userpro-coll-count a.userpro-bm-btn.bookmarked {
	
	@media screen and (max-width: 320px){
		max-width: 140px;
		top:-32px !important;
	}
}
div.userpro-profile-img img {
	height: 80px;
}
/*--------------------------------------------------------------
9.2 Userpro profile
--------------------------------------------------------------*/
.userpro-profile-name {
	background:rgba(255, 255, 255, 0.75);
}
/*--------------------------------------------------------------
10.0 Post Submit
--------------------------------------------------------------*/
.gform_wrapper input[type=text], .gform_wrapper input[type=url], .gform_wrapper input[type=email], .gform_wrapper input[type=tel], .gform_wrapper input[type=number], .gform_wrapper input[type=password] {
	font-size: 20px !important;
}
.gform_wrapper textarea {
	font-size: 20px !important;
	resize: vertical !important;
}
.ginput_container span {
	font-size: 12px !important;
}
/*--------------------------------------------------------------
11.0 Element
--------------------------------------------------------------*/
//blockquote
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-family: 'lora',serif;
  font-size: 1em;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  font-size: 1em !important;
}
// dropdown
// .cd-dropdown,
// .cd-select {
// 	position: relative;
// 	width: 300px;
// 	margin: 20px auto;
// 	display: block;
// }

// .cd-dropdown > span {
// 	width: 100%;
// 	height: 60px;
// 	line-height: 60px;
// 	color: #999;
// 	font-weight: 700;
// 	font-size: 16px;
// 	background: #fff;
// 	display: block;
// 	padding: 0 50px 0 30px;
// 	position: relative;
// 	cursor: pointer;
// }

// .cd-dropdown > span:after {
// 	content: '\25BC';
// 	position: absolute;
// 	right: 0px;
// 	top: 15%;
// 	width: 50px;
// 	text-align: center;
// 	font-size: 12px;
// 	padding: 10px;
// 	height: 70%;
// 	line-height: 24px;
// 	border-left: 1px solid #ddd;
// }

// .cd-dropdown.cd-active > span:after {
// 	content: '\25B2';
// }

// .cd-dropdown ul {
// 	list-style-type: none;
// 	margin: 0;
// 	padding: 0;
// 	display: block;
// 	position: relative;
// }

// .cd-dropdown ul li {
// 	display: block;
// }

// .cd-dropdown ul li span {
// 	width: 100%;
// 	background: #fff;
// 	line-height: 60px;
// 	padding: 0 30px 0 75px;
// 	display: block;
// 	color: #bcbcbc;
// 	cursor: pointer;
// 	font-weight: 700;
// }

// .cd-dropdown > span,
// .cd-dropdown ul li span {
// 	-webkit-backface-visibility: hidden;
// 	-webkit-touch-callout: none;
// 	-webkit-user-select: none;
// 	-khtml-user-select: none;
// 	-moz-user-select: none;
// 	-ms-user-select: none;
// 	user-select: none;
// }

// .cd-dropdown > span span[class^="icon-"],
// .cd-dropdown > span span[class*=" icon-"]{
// 	padding: 0 30px 0 45px;
// }

// /* Select fallback styling */
// .cd-select {
// 	// border: 1px solid #ddd;
// }

// /* Style 4 */
// .cd-dropdown {
// 	-webkit-perspective: 800px;
// 	-moz-perspective: 800px;
// 	-o-perspective: 800px;
// 	-ms-perspective: 800px;
// 	perspective: 800px;
// }

// .cd-dropdown > span {
// 	-webkit-transform-style: preserve-3d;
// 	-moz-transform-style: preserve-3d;
// 	-o-transform-style: preserve-3d;
// 	-ms-transform-style: preserve-3d;
// 	transform-style: preserve-3d;

// 	-webkit-transform-origin: 50% 0%;
// 	-moz-transform-origin: 50% 0%;
// 	-o-transform-origin: 50% 0%;
// 	-ms-transform-origin: 50% 0%;
// 	transform-origin: 50% 0%;

// 	-webkit-transition: -webkit-transform .3s;
// 	-moz-transition: -moz-transform .3s;
// 	-o-transition: -o-transform .3s;
// 	-ms-transition: -ms-transform .3s;
// 	transition: transform .3s;
// }

// .cd-dropdown > span:active {
// 	-webkit-transform: rotateX(60deg);
// 	-moz-transform: rotateX(60deg);
// 	-o-transform: rotateX(60deg);
// 	-ms-transform: rotateX(60deg);
// 	transform: rotateX(60deg);
// }

// .cd-dropdown > span,
// .cd-dropdown ul li:nth-last-child(-n+3) span {
// 	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
// }

// .cd-dropdown ul {
// 	position: absolute;
// 	top: 0px;
// 	width: 100%;
// }

// .cd-dropdown ul li {
// 	position: absolute;
// 	width: 100%;
// }

// .cd-active.cd-dropdown > span {
// 	color: #f8b161;
// }

// .cd-active.cd-dropdown > span,
// .cd-active.cd-dropdown ul li span {
// 	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
// }

// .cd-active.cd-dropdown ul li span {
// 	-webkit-transition: all 0.2s linear 0s;
// 	-moz-transition: all 0.2s linear 0s;
// 	-ms-transition: all 0.2s linear 0s;
// 	-o-transition: all 0.2s linear 0s;
// 	transition: all 0.2s linear 0s;
// }

// .cd-active.cd-dropdown ul li span:hover {
// 	background: #f8b161;
// 	color: #fff;
// }
// facebook post
.fb_iframe_widget {
	display: block !important;
	span {
		display: block !important;
		margin: 0 auto 1em;
	}
}
// sharedaddy
div.sharedaddy, #content div.sharedaddy, #main div.sharedaddy {
	text-align: center;
}