body {
	background: #f3f3f3;
}
.site-header {
	text-align: center;
}
.article-bottom-blur {
	position: absolute;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.73) 22%, rgba(255,255,255,0.73) 23%, rgba(255,255,255,1) 91%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 0)), color-stop(22%,rgba(255, 255, 255, 0.73)), color-stop(23%,rgba(255, 255, 255, 0.73)), color-stop(91%,#FFF));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.73) 22%,rgba(255, 255, 255, 0.73) 23%,#FFF 91%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.73) 22%,rgba(255,255,255,0.73) 23%,rgba(255,255,255,1) 91%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.73) 22%,rgba(255,255,255,0.73) 23%,rgba(255,255,255,1) 91%);
	background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.73) 22%,rgba(255,255,255,0.73) 23%,rgba(255,255,255,1) 91%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
	height: 50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	content: '';
}
.home {
	padding: 1em 1em 0;
	article {
		&.card {
			width: 100%;
			max-width: 600px;
			overflow: hidden;
		}
		&:after {
			@extend .article-bottom-blur;
		}
	}
}

.archive {
	article {
		&:after {
			@extend .article-bottom-blur;
		}
	}
}
.site-main {
	margin: 1em;
}
article {
	padding:1em;
	&.card {
		width: 100%;
		max-width: 600px;
		overflow: hidden;
	}
}